.inboxSection{
    padding-top: calc(6rem + 10px);
   
}

.wrapper {
    display: flex;
    align-items: stretch;
    margin-left: 0px !important;
    max-width: 100% !important;
    padding-left: 0px !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

